html {
  font-size: 62.5%;
}

@font-face {
  font-family: "Overpass";
  src: url("./assets/fonts/Overpass-VariableFont_wght.ttf") format("truetype");
}

:root {
  /* COLORS */
  --White: hsl(0, 100%, 100%);
  --Grey-500: hsl(217, 12%, 63%);
  --Grey-900: hsl(213, 19%, 18%);
  --Grey-950: hsl(216, 12%, 8%);
  --Orange500: hsl(25, 97%, 53%);
  --Blue: hsl(228, 45%, 44%);
  --Gradient-0: hsl(215, 20%, 17%);
  --Gradient-100: hsl(216, 24%, 12%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
  border: none;
  line-height: 1;
  cursor: pointer;
}

label[class="rating-btns"] {
  cursor: pointer;
}
fieldset {
  all: unset;
}

input[type="radio"] {
  position: absolute;
  clip-path: inset(50%);
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100dvh;
  font-family: "Overpass", sans-serif;
  font-size: 1.6rem;
  background-color: var(--Grey-950);
  /* padding-top: clamp(5.3rem, calc(-1.46rem + 18.02vw), 19.2rem);
  padding-left: clamp(2.4rem, calc(-4.2rem + 17.6vw), 17.8rem);
  padding-right: clamp(2.4rem, calc(-4.2rem + 17.6vw), 17.8rem);
  padding-bottom: 2.4rem; */
  padding: 15.3rem 2.4rem 0; /*Commented out paddings provide smooth transition with changing screen size, however active paddings are needed to meet parameters that are in the figma file. In case using smooth paddings, all other paddings should be commented out*/
}

main {
  background-image: radial-gradient(
    98.96% 98.96% at 50% 0%,
    var(--Gradient-0) 0%,
    var(--Gradient-100) 100%
  );
  padding: 2.85rem 2.4rem;
  border-radius: 1.5rem;
}

.rating-main-container {
  display: block;
}

.star-container {
  display: grid;
  place-items: center;
  width: 4rem;
  height: 4rem;
  background-color: var(--Grey-900);
  border-radius: 50%;
  margin-bottom: 2.4rem;
}

.star-icon {
  width: 1.6rem;
}

/* Check star dementions */

.rating-question {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.25;
  color: var(--White);
  margin-bottom: 1.6rem;
}

.rating-comment {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.572;
  color: var(--Grey-500);
  margin-bottom: 1.6rem;
}

.rating-btn-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.4rem;
}

.rating-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  background-color: var(--Grey-900);
  color: var(--Grey-500);
}

.submit-btn {
  background-color: var(--Orange500);
  color: var(--Grey-950);
  width: 100%;
  padding: 1.5rem 0;
  border-radius: 2.25rem;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.5rem;
  letter-spacing: 0.187rem;
}

/* Thank you state */

.thank-you-container {
  display: none;
  flex-direction: column;
  align-items: center;
  margin: 0.75rem 0;
}

.online-payment-icon {
  width: 14.4rem;
  margin-bottom: 2.4rem;
}

.rating-container {
  background-color: var(--Grey-900);
  color: var(--Orange500);
  padding: 0.6rem 1.2rem;
  border-radius: 2.25rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
  width: 16.8rem;
  margin-bottom: 2.4rem;
}

.thank-you {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3rem;
  text-align: center;
  color: var(--White);
  margin-bottom: 1.6rem;
}

.thank-you-message {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.2rem;
  text-align: center;
  color: var(--Grey-500);
}

/* Footer */

.attribution {
  font-size: 1.1rem;
  text-align: center;
  color: var(--White);
}
.attribution a {
  color: var(--Blue);
}

.visually-hidden {
  display: none;
}

/* Tablet size */

@media only screen and (min-width: 768px) {
  body {
    padding: 19.2rem 17.8rem 0;
  }

  main {
    padding: 3.45rem 3.05rem;
    border-radius: 3rem;
  }

  .star-container {
    margin-bottom: 3.2rem;
  }

  .rating-question {
    font-size: 2.8rem;
    line-height: 3.5rem;
    margin-bottom: 1.6rem;
  }

  .rating-comment {
    font-size: 1.5rem;
    line-height: 2.4rem;
  }

  .rating-btn-container {
    margin-bottom: 3.2rem;
  }

  .rating-btns {
    width: 5.1rem;
    height: 5.1rem;
  }

  .submit-btn {
    padding: 1.25rem 0;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.017rem;
  }

  /* Thank you state */

  .thank-you-container {
    margin: 1rem 0.55rem;
  }

  .online-payment-icon {
    width: 16.2rem;
    margin-bottom: 3.2rem;
  }

  .rating-container {
    padding: 0.6rem 1.95rem;
    font-size: 1.5rem;
    width: 19.3rem;
    margin-bottom: 3.2rem;
  }

  .thank-you {
    font-size: 2.8rem;
    line-height: 3.5rem;
  }

  .thank-you-message {
    font-size: 1.5rem;
    line-height: 2.4rem;
  }
}

/* Desktop size */

@media only screen and (min-width: 1440px) {
  body {
    padding: 19.2rem 51.4rem 0;
  }
}

/* Hover/Focus effect */

.rating-btns:hover,
.submit-btn:hover {
  background-color: var(--White);
  color: var(--Grey-900);
}

.rating-btns:active,
.submit-btn:active {
  transform: scale(0.97);
}

.rating-btns:focus {
  background-color: var(--Orange500);
  color: var(--Grey-900);
  outline: unset;
}

.submit-btn:focus {
  background-color: var(--White);
  color: var(--Grey-900);
  outline: unset;
}

:is(.rating-btns, .submit-btn, input[type="radio"]):focus-visible {
  outline: 3px solid var(--Orange500);
  outline-offset: 4px;
}

input[type="radio"]:checked + .rating-btns {
  background-color: var(--Orange500);
  color: var(--White);
}
